{% extends "base.html" %}
{% block title %}Table{% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> 
                {% block heading %}<a href="{% url 'create_tenant' %}" class="btn btn-primary">Add Tenant</a>
                    {% endblock  %}
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>Name</th>
                         
                      </tr>
                  </thead>
                  <tbody>
                    {% for tenant in tenants %}
                    <tr>
                        <td>{{ tenant.name }}</td>
                        
                        
                        {% comment %} <td><img src="{{ listing.description }}"  style="max-width: 100px;"></td> {% endcomment %}
                        {% comment %} <td>
                            <a href="{% url 'view_list' listing.id %}" class="btn btn-primary">View</a>  
                           
                            <a href="{% url 'delete_listing' listing.id %}" class="btn btn-danger">Delete</a>
                            <a href="{% url 'update_listing' listing.id %}" class="btn btn-success">Update</a>
                            
                        </td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
                    {% comment %} <tfoot>
                    <tr>
                      <th>Rendering engine</th>
                      <th>Browser</th>
                      <th>Platform(s)</th>
                      <th>Engine version</th>
                      <th>CSS grade</th>
                    </tr>
                    </tfoot> {% endcomment %}
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
        </div>
    </div>
</div>
<section>

{% endblock  %}

 