{% extends "base.html" %}
{% comment %} {% block title %}Table{% endblock %} {% endcomment %}
{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> 
                {% block heading %}<a href="{% url 'create_tenant' %}" class="btn btn-primary">Add Tenant</a>
                    {% endblock  %}
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Phone Number</th>
                          <th>Email</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for tenant in tenants %}
                    <tr>
                        <td>{{ tenant.name  }}</td>
                        <td>{{ tenant.address }}</td>
                        <td>{{ tenant.phone_number }}</td>
                        <td>{{ tenant.user.email }}</td>
                         
                        <td>
                          <a href="{% url 'view_tenant' tenant.id %}" class="btn btn-primary">View</a>
                          <a href="{% url 'delete_tenant' tenant.id %}" class="btn btn-danger">Delete</a>
                        
                        
                          <a href="{% url 'update_tenant' tenant.id %}" class="btn btn-success">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                    {% comment %} <tfoot>
                    <tr>
                      <th>Rendering engine</th>
                      <th>Browser</th>
                      <th>Platform(s)</th>
                      <th>Engine version</th>
                      <th>CSS grade</th>
                    </tr>
                    </tfoot> {% endcomment %}
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
        </div>
    </div>
</div>
<section>

{% endblock  %}

 