{% extends "base.html" %}
{% block title %} Updating Broker {% endblock title %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update Lead Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="{% url 'update_broker' broker.id %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" value="{{ broker.name }}">
                    </div>
                    <div class="form-group">
                        <label for="commission_rate">Commission Rate</label>
                        <input type="number" step="0.01" class="form-control" id="commission_rate" name="commission_rate" placeholder="Enter Commission Rate" value="{{ broker.commission_rate }}">
                      </div>
                      <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                      </div>
                    
                    
                    
  
                 
                </div>
                <!-- /.card-body -->
                
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            
            
            </div>
        </div>
    </section>
</div>

{% endblock content %}