{% extends "base.html" %}
{% block title %}Table{% endblock %}
{% block content %}
<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Lead Detail</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4></h4>
          <div class="post">
            <div class="user-block">
              {% comment %} <span class="username">
                {% if listings.image.all %}
                {% for image in listings.image.all %}
                <img class="img-circle mr-2" src="{{ image.image.url }}" alt="User Image">
                {% endfor %}
                {% endif %}
                <a href="#">{{ listings.property_manager }}</a>
                
              </span> {% endcomment %}

           
              
            </div>
            <!-- /.user-block -->
           

            
          </div>

          

          
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">Status</span>
                  <span class="info-box-number text-center text-muted mb-0">{{ lead.status }}</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">Date</span>
                  <span class="info-box-number text-center text-muted mb-0">{{ lead.date }}</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">Person In Charge</span>
                  <span class="info-box-number text-center text-muted mb-0">{{ lead.person_in_charge }}</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">Tenant Met</span>
                  <span class="info-box-number text-center text-muted mb-0">{{ lead.tenant_met  }}</span>
                </div>
              </div>
            </div>
           
            
         
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Notes</span>
                    <span class="info-box-number text-center text-muted mb-0">{{ lead.notes }}</span>
                  </div>
                </div>
              </div>
          </div>
         
        </div>
        
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
{% endblock  %}

 